{% extends 'base.html' %}

{% block title %}Blog- Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
            <div class="text-center mb-3 p-0">
                <a href="{% url 'blog-create' %}" >
                    <button class="btn btn-sm btn-success" type="button">New Post</button>
                </a>
                <a href="{% url 'blog-comments' %}">
                    <button class="btn btn-sm btn-secondary" type="button">Review Comments</button>
                </a>
            </div>
        {% endif %}
    {% endif %}

    <div class="p-2">
        {% for post in all_posts %}
            <div class="list-group">
                <a href="{% url 'blog-detail' post.slug %}" class="list-group-item list-group-item-action border-dark mb-2 p-2"
                style="background-color: lightyellow;">
                    <h5 class="mb-1 text-left">{{ post.title }}</h5>
                    <small class="text-muted">
                        <strong>Author:</strong> {{ post.author }} |
                        <strong>Posted:</strong> {{ post.date_posted }} |
                        <strong>Views:</strong> {{ post.views }} |
                        <strong>Comments:</strong> {{ post.comments }}
                    </small>
                    <hr class="m-1 p-0">
                    <p class="mb-1">{{ post.content|truncatechars:100 }}</p>
                </a>
            </div>
        {% empty %}
            <div class="text-center mt-4">
                <h5>No Posts Live!</h5>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
