<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">About</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    This is an experimental project built using Django and Python. The front-end has been built mainly using HTML and Bootstrap with a little bit of CSS. It uses MySQL database in production and has been deployed on a Pythonanywhere free server.
                    <br><br>
                    One of the main goals of this project was to perform CRUD operations and some other tasks asynchronously without requiring a page refresh. Some of it has been successfully implemented using AJAX along with JavaScript and JQuery. Some of the form data has been presented using a Bootstrap Modal pop-up window and data is saved to or accessed from the database by performing an AJAX call. This one feature proved more complex than I thought and figuring it out took several days if not weeks of my life. It is currently not working exactly as per my requirement but does the job. You are currently reading this section in one such Bootstrap modal window without any need for a page refresh.. :-)
                    <br><br>
                    Performing async tasks using AJAX definitely took some effort to implement. There is tons of material available on the internet but information is scattered in bits and pieces. Considering JavaScript is one of the most popular languages on the planet, and Django being one of the most popular Python web frameworks today, it is really surprising that such important tasks which almost every live website uses today hasn't been documented in a beginner friendly way.
                    <br><br>
                    After my 'Learning Django' post went viral on one of the social media platforms, I realized that there are countless others across the planet, just like me, who tried to learn something but hit a major roadblock because applying that knowledge to solve a real world problem is more difficult that more trainers and tutorials picturize it. I never imagined the Django community would come forward and shower their love for putting together a post that lists out most of the challenges beginners face when learning Django. I have added that post as my first post in this website.
                    <br><br>
                    Maybe one day I will write a detailed post on how to integrate AJAX and Django to make an otherwise simple website more interactive and awesome.
                    <br><br>
                    Last but not least, thank you for visting my website. If you have any suggestions or any feedback, please feel free to drop me an email using the Contact link.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
