{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ post.title}} {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
            <div class="text-center mb-3 p-0">
                                <a href="{% url 'blog-create' %}" >
                    <button class="btn btn-sm btn-success" type="button">New Post</button>
                </a>


                {% if post.author == request.user %}
                    <a href="{% url 'blog-update' post.slug %}" type="submit">
                        <button class="btn btn-sm btn-warning" type="button">Update Post</button>
                    </a>
                {% endif %}
                <a href="{% url 'blog-comments' %}">
                    <button class="btn btn-sm btn-secondary" type="button">Review Comments</button>
                </a>
            </div>
        {% endif %}
    {% endif %}

    <div class="card">
        <div class="card-header text-center" style="background-color: #7a68a6; color: white;">
            <h3 class="card-title">{{ post.title }}</h3>
            <small>
                <strong>Author:</strong> {{ post.author }} |
                <strong>Posted:</strong> {{ post.date_posted }} |
                <strong>Views:</strong> {{ post.views }} |
                <strong>Comments: </strong>{{ comments_count }}
            </small>
        </div>

        <div class="card-body" style="background-color: lightyellow;">
            {% if post.image %}
                <div class="col d-flex justify-content-center align-items-center h100 mb-3 p-0">
                    <img src="{{ post.image.url }}"/>
                </div>
            {% endif %}

            <div class="card-text p-0">
                {{ post.content|linebreaksbr }}
            </div>
        </div>

        {% if post.is_live %}
            <div class="card-footer px-3">
                <div class="card card-body border-dark mt-1">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% if user.is_authenticated %}
                                <div>
                                    <div class="form-group mb-0">
                                        <div class="form-row p-0">
                                            {{ form|crispy }}
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-outline-success" name="commentBtn" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class='text-center'>
                                    <strong>Please login to leave a comment!</strong>
                                    <div class="mt-2">
                                        <a href="{% url 'users-login' %}?next={% firstof request.path '/' %}">
                                            <button class="btn btn-sm btn-outline-success" type="button">Login</button>
                                        </a>
                                    </div>
                                </div>
                        {% endif %}
                    </form>
                </div>
                <hr>

                <div>
                    <strong>{{ comments_count }} Comment{{ comments|pluralize }}</strong>

                    <div class="mt-2 py-2">
                        {% for object in comments %}
                            <blockquote class="blockquote border border-grey p-2" style="font-size: medium; background-color: white">
                                <p>{{ object.content|linebreaksbr }}</p>
                                <footer class="blockquote-footer">
                                    by
                                    <cite title="Source Title">
                                        {{ object.owner }} at {{ object.date_created }}
                                    </cite>
                                    <div class='text-right'>
                                        <button class='btn btn-sm btn-outline-secondary'>Edit</button>
                                        <button class='btn btn-sm btn-outline-danger'>Delete</button>
                                    </div>
                                </footer>
                            </blockquote>
                        {% empty %}
                            <div>
                                No comments at the moment!
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
