{% extends 'base.html' %}

{% block title %}Comment Moderator{% endblock title %}

{% block content %}
    <div class="card card-body">
        <div class="text-center">
            <button class="btn btn-sm btn-dark mx-1" type="button" data-toggle="collapse" data-target="#pendingComments"
                    aria-expanded="false" aria-controls="pendingComments" style="width: 90px;">
                PENDING
                <div>
                    ({{ pending_comments_count }})
                </div>
            </button>

            <button class="btn btn-sm btn-success mx-1" type="button" data-toggle="collapse" data-target="#approvedComments"
                    aria-expanded="false" aria-controls="approvedComments" style="width: 90px">
                APPROVED
                <div>
                    ({{ approved_comments_count }})
                </div>
            </button>

            <button class="btn btn-sm btn-danger mx-1" type="button" data-toggle="collapse" data-target="#rejectedComments"
                    aria-expanded="false" aria-controls="rejectedComments" style="width: 90px">
                REJECTED
                <div>
                    ({{ rejected_comments_count }})
                </div>
            </button>

        </div>

        <div class="collapse" id="pendingComments">
            <br>
            <h3>Pending Comments:</h3>
            <table class="table table-responsive table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Owner</th>
                        <th>Post</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                {% for object in pending_comments %}
                    <tbody>
                        <tr>
                            <td>{{ object.content }}</td>
                            <td>{{ object.owner }}</td>
                            <td><a href="{% url 'blog-detail' object.post.slug %}">{{ object.post }}</a></td>
                            <td>{{ object.date_created }}</td>
                        </tr>
                    </tbody>
                {% empty %}
                    <h5 class="text-center">No Comments Here!</h5>
                {% endfor %}
            </table>
        </div>

        <div class="collapse" id="approvedComments">
            <br>
            <h3>Approved Comments:</h3>
            <table class="table table-responsive table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Owner</th>
                        <th>Post</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                {% for object in approved_comments %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'blog-detail' object.post.slug %}">{{ object.content }}</a></td>
                            <td>{{ object.owner }}</td>
                            <td><a href="{% url 'blog-detail' object.post.slug %}">{{ object.post }}</a></td>
                            <td>{{ object.date_created }}</td>
                        </tr>
                    </tbody>
                {% empty %}
                    <h5 class="text-center">No Comments Here!</h5>
                {% endfor %}
            </table>
        </div>

        <div class="collapse" id="rejectedComments">
            <br>
            <h3>Rejected Comments:</h3>
            <table class="table table-responsive table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Owner</th>
                        <th>Post</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                {% for object in rejected_comments %}
                    <tbody>
                        <tr>
                            <td>{{ object.content }}</td>
                            <td>{{ object.owner }}</td>
                            <td><a href="{% url 'blog-detail' object.post.slug %}">{{ object.post }}</a></td>
                            <td>{{ object.date_created }}</td>
                        </tr>
                    </tbody>
                {% empty %}
                    <thead>
                        <tr>
                            <h5 class="text-center">No Comments Here!</h5>
                        </tr>
                    </thead>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock content %}
