<nav class="navbar navbar-bottom fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container p-0">
        <div class="navbar-nav text-capitalize mx-auto" style="white-space: nowrap">
            <div class="row">
                <div class="col p-0">
                    <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                </div>
                {% if user.is_authenticated %}
                    {% if user.is_staff or user.is_superuser %}
                        <div class="col px-1">
                            <a class="nav-item nav-link" href="{% url 'blog-posts' %}">My Posts</a>
                        </div>
                        <div class="col px-1">
                            <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </div>
                    {% endif %}
                    <div class="col px-1">
                        <a class="nav-item nav-link" href="{% url 'users-logout' %}">Logout</a>
                    </div>
                {% else %}
                    <div class="col px-1">
                        <a class="nav-item nav-link" href="{% url 'users-login' %}">Login</a>
                    </div>
                    <div class="col px-1">
                        <a class="nav-item nav-link" href="{% url 'users-register' %}">Register</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
