{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div class="container p-2" style="max-width: 500px;">
        <div class="card">
            <div class="card-header" style="background-color: #7a68a6; color: white; font-size: larger;">
                <h4 class="card-title text-left">Login Page</h4>
            </div>

            <div class="card-body" style="background-color: lightyellow">
                <div class="text-center p-0" style="display: none;">
                    <a type="button" class="btn btn-outline-secondary m-1 btn-sm disabled" href="#"
                       style="width: 175px;">
                        Log In With Google
                    </a>
                </div>
                <div>
                    <form method="POST" enctype="multipart/form-data">
                        <div>
                                {% csrf_token %}
                                {{ form | crispy }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-success">Log In</button>
                            <a href="{% url 'password-reset' %}">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card-footer text-muted text-center" style="background-color: white">
                <label>Need an Account?</label>
                <a type="button" class="btn btn-outline-primary m-1 btn-sm" href="{% url 'users-register' %}">
                    Signup
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
